body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.App {
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}

.colorInput {
  margin: 5px;
  width: 250px;
  height: 40px;
  font-size: 1.1rem;
  font-weight: 800;
  text-align: center;
  border: none;
  outline: 0;
}
